@using WebApplication.Models
@using WebApplication.HtmlHelpers
@model ProductsListViewModel

@{
    ViewBag.Title = "ЛоскутОк - Товары";
}
<div class="row">
    @foreach (var prd in Model.Products) {
            @Html.Partial("ProductSummary", prd)
    }
</div>
<div class="row">
    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
                     new { page = x, category = Model.CurrentCategory }))
    </div>
</div>