@using System
@model SiteJointPurchase.Domain.Entities.Cart


<div class="navbar-right">
    @Html.ActionLink("Заказать", "Index", "Cart",
            new { returnUrl = Request.Url.PathAndQuery },
            new { @class = "btn btn-default navbar-btn" })
</div>

<div class="navbar-text navbar-right">
    <b>В корзине:</b>
    @Model.Items.Sum(x => x.Quantity).ToString("0 м   ")
    @String.Format("{0:c} руб",Model.GetTotal().ToString())

</div>
